@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <h3>Submitted Info</h3>
        <label for="Name">Name:</label>
        <span>@ViewBag.Name</span>

        <label for="Location">Dojo Location:</label>
        <span>@ViewBag.Location</span>

        <label for="Language">Favorite Language:</label>
        <span>@ViewBag.Language</span>

        <label for="Comment">Comment (optional):</label>
        <span>@ViewBag.Comment</span>
    </div>
}
